* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body {
    background-color: #D9CDF7;
}
img {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.div1 {
    gap: 20px;
    display: flex;
    justify-content: center;
}


p {
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    color: #271A45;
}

.preco {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.67;
    color: #271A45;

}

h1 {
    font-family: "Crimson Pro";
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 15px;
    color: #271A45;

}

button {
    background-color: #D9CDF7;
    width: Hug (148px)px;
    height: Hug (32px)px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 100px;
    border-color: #271A45;
    
}